{% extends 'base.html.twig' %}

{% block title %}Gallérie {% endblock %}
{% block card_title %}<i class="fas fa-image text-sm"></i> Images de la gallérie {% endblock %}
{% block card_tools %}
    <a href="#" class="btn btn-default btn-xs rounded" data-toggle="modal" data-target="#modalAjout">
        <i class="fas fa-plus-circle"></i> Ajouter
    </a>
{% endblock %}

{% block body %}

<div class="table-responsive">
    <table class="table table-bordered table-striped">
        <thead>
        <tr>
            <th>N°</th>
            <th>Titre</th>
            <th>Description</th>
            <th>Photo</th>
            <th>Statut</th>
            <th style="width: 20% !important;">actions</th>
        </tr>
        </thead>
        <tbody>
        {% for image_gallerie in image_galleries %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ image_gallerie.titre }}</td>
                <td class="">
                    {{ image_gallerie.detail|slice(0, 200) }}
                </td>
                <td><img src="{{ asset(image_gallerie.photo ?? "") }}" height="60" alt=""></td>
                <td>
                    <form action="{{ path('image_gallerie_switch_statut', {'id': image_gallerie.id}) }}" method="post" class="custom-control custom-switch custom-switch-off-danger custom-switch-on-success">
                        <input type="checkbox" class="custom-control-input input-lg" id="article{{ image_gallerie.id }}" {{ image_gallerie.isActif ? 'checked' : ''}}>
                        <label class="custom-control-label on-off" for="article{{ image_gallerie.id }}">{{ image_gallerie.isActif ? 'ON' : 'OFF'}}</label>
                    </form>
                </td>
                <td style="width: 20% !important;">
                    <a href="{{ path('image_gallerie_edit', {'id': image_gallerie.id}) }}" data-toggle="modal" data-target="#modal-edit" class="fas btn btn-xs btn-default rounded edition">
                        <i class="fas fa-edit text-warning"></i>
                    </a>
                    <div style="display: inline-block">
                        {{ include('image_gallerie/_delete_form.html.twig') }}
                    </div>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">Aucun enregistrement trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

    {#   FENETRES MODALES#}
    <div class="modal fade" id="modalAjout">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header bg-success">
                    <h4 class="modal-title card-title"> <i class="fas fa-plus-circle"></i> Nouvel enregistrement</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    {{ form_start(form) }}
                    <div class="row">
                        <div class="col-sm-12">
                            {{ form_widget(form) }}
                        </div>
                    </div>
                    <button type="submit" class="btn btn-sm btn-default float-right">
                        <i class="fas fa-save"></i> Enregistrer
                    </button>
                    {{ form_end(form) }}
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>

    <div class="modal fade" id="modal-edit">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header bg-warning">
                    <h4 class="modal-title card-title text-dark"> <i class="fas fa-edit "></i> Mise à jour</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">

                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
{% endblock %}

{% block other_scripts %}
    <script>

        document.querySelectorAll("input[type='checkbox'].custom-control-input").forEach(function (buttom) {
            buttom.addEventListener('click', submitFormSwitch);
        })

        function submitFormSwitch() {

            let form = $(this).parent('form');
            let label = $('label.on-off', form);

            // actualisation du statut

            if ($(this).prop('checked') === true){
                label.html('ON');
            }
            else {
                label.html('OFF');
            }

            // envoi du formulaire du bouton

            let action = form.attr('action');
            let formData = form.serialize()

            $.ajax({
                url : action,
                type: "POST",
                data : formData,
                success: function(response, textStatus, jqXHR)
                {
                    if (response.message === "Statut activé avec succès!"){
                        $(document).Toasts('create', {
                            class: 'bg-success',
                            title: "Information",
                            autohide: true,
                            delay: 2000,
                            subtitle: '',
                            icon: "fas fa-th-list",
                            position: 'topRight',
                            body: response.message,
                        })
                    }else {
                        $(document).Toasts('create', {
                            class: 'bg-warning',
                            title: "Information",
                            autohide: true,
                            delay: 2000,
                            subtitle: '',
                            icon: "fas fa-th-list",
                            position: 'topRight',
                            body: response.message,
                        })
                    }
                },
                error: function (jqXHR, textStatus, errorThrown)
                {
                    $(document).Toasts('create', {
                        class: 'bg-danger',
                        title: "Information",
                        autohide: true,
                        delay: 5000,
                        subtitle: '',
                        icon: "fas fa-th-list",
                        position: 'topRight',
                        body: errorThrown,
                    })
                }
            });
        }
    </script>

{% endblock %}

