{% extends 'baseNotifEmail.html.twig' %}
{% block body %}
    <div class="col-lg-12">
        <h4>
            Important, alerte automatique
        </h4>
        <h4 class="text-muted">
            Bonjour admin
        </h4>

        <p>
            Vous venez de recevoir une nouvelle demande de rendez-vous dont voici le détails: <br> <br>
            Programme: le <span class="text-bold" style="font-weight: bold">{{ rendezVous.dateRendezVous|date('d/m/Y') }} à {{ rendezVous.heureRendezVous|date('h:i') }}</span><br>
            Nom du client : <span class="text-bold">{{ rendezVous.nom }}</span> <br>
            Email du client : {{ rendezVous.email }} <br>

            {% if rendezVous.telephone %}
                Téléphone : {{ rendezVous.telephone }} <br>
            {% endif %}

            {% if rendezVous.consultant %}
                Médecin sollicité : {{ rendezVous.consultant }} <br>
            {% endif %}

            {% if rendezVous.service %}
                Service : {{ rendezVous.service }} <br>
            {% endif %}

        </p>

        {% if rendezVous.detail %}
            <p class="mt-2">
                Détail du message: <br>
                {{ rendezVous.detail }}
            </p>
        {% endif %}

        <p>
            Cordialement, <br>
            {{ parametre.libelleStructure }}, <br>
            Centre émetteur, Conakry, Guinée
        </p>
        <small>
            <i>
                Ce courriel est un message automatique.
            </i>
        </small>
    </div>
{% endblock %}
